body
{
	background: #2d2d2d;
}
.container
{
	background: #fff;
	width: 70%;
	margin: 0 auto;
	border:1px solid #000;
}

.titulo
{
	background: #ba0000;
	text-align: right;
	padding: 15px 0;
	color: #fff;
	font-size: 20px;
}

.sub
{
	text-align: center;
	font-size: 1.2em;
}